/* Homepage */
.node-type-page .layout-center {
  background: url(../images/homepage_portrait.png) no-repeat center 0 fixed;
  background-size: cover;
}
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .node-type-page .layout-center {
      background:url(../images/homeslogan.png) no-repeat center center fixed;
      background-size: contain;
    }
}
@media (max-height: 414px) {
  .node-type-page .layout-center {
    background:url(../images/homeslogan.png) no-repeat center top fixed;
    background-size: contain;
  }
}

.home-bnt{
  width: 37vw;
  height: 40px;
  max-width: 140px;
}
.home-bnt a{
  padding: 10px 5px;
}
#play-now a, #story-now a{
  width: 100%;
  font-size: 12px;
  background-size: cover;
  max-width: 140px;
}
@media (max-width: 320px) {
  #play-now a, #story-now a{
    font-size: 10px;
  }
}
#play-now{
  position: fixed;
  top: 58vh;
  left: 10vw;
}
#story-now{
  position: fixed;
  top: 58vh;
  right: 10vw;
}
@media (max-height: 414px) {
  .home-bnt{
    max-width: 100px;
  }
  #play-now a, #story-now a{
    font-size: 9px;
    max-width: 100px;
  }
  #play-now{
    top: 85vh;
    left: 32vw;
  }
  #story-now{
    top: 85vh;
    right: 32vw;
  }
}
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1)
  and (orientation: portrait) {
    .home-bnt{
      max-width: 100px;
    }
    #play-now a, #story-now a{
      font-size: 9px;
      max-width: 100px;
    }
    #play-now{
      top: 68vh;
      left: 32vw;
    }
    #story-now{
      top: 68vh;
      right: 32vw;
    }
}
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1)
  and (orientation: landscape) {
    .home-bnt{
      max-width: 100px;
    }
    #play-now a, #story-now a{
      font-size: 9px;
      max-width: 100px;
    }
    #play-now{
      top: 80vh;
      left: 32vw;
    }
    #story-now{
      top: 80vh;
      right: 32vw;
    }
}
.wrap-img-arrowheader{
  display: none;
}
#block-block-1{
  position: relative;
  z-index: 2;
  opacity: 0.9;
}
#block-block-1 .block-wrapper{
  top: 0;
  height: 100vh;
  left: -90vw;
  transition: .5s;
}
#block-block-1 .block-wrapper.active{
  top: 0;
  height: 100vh;
  transition: .5s;
  left: 0;
}
#block-block-1 .block-wrapper{
  width: 90vw;
  height: 100vh;
}
#block-block-1 ul{
  width: 90vw;
  height: 100vh;
  padding-left: 11vw;
  padding-top: 15vh;
}
#block-block-1 ul li{
  float: none;
  margin-bottom: 15px;
}
#block-block-1 ul li a {
  font-size: 12px;
  margin-left: 0;
  padding-left: 0;
  text-align: left;
}
.hamburger-btn{
  position: absolute;
  top: 2vh;
  left: 15vw;
}
@media (max-height: 414px) {
  .hamburger-btn{
    left: 10vw;
  }
}
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .hamburger-btn{
      left: 10vw;
    }
}
.hamburger-btn img{
  width: 35px;
}
.drthanh-logo{
  position: absolute;
  top: 2vh;
  left: 3vw;
  z-index: 1;
}
.drthanh-logo img{
  width: 35px;
}
article.node.node-1 .field-name-field-material{
  z-index: 3;
}
article.node.node-1 .field-name-field-material .field-items .field-item{
  width: 100vw;
  max-width: 500px;
  max-height: 96vh;
  top: calc((100vh - 350px)/2);
}
@media (max-height: 320px) {
  article.node.node-1 .field-name-field-material .field-items .field-item{
    top: 2vh;
  }
}
article.node.node-1 .field-name-field-material .field-items .field-item video{
  width: 94vw;
  max-width: 460px;
}
#block-block-2 .block-wrapper{
  display: none;
}
/* Homepage */
