/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Jul-2016, 10:24:31
    Author     : April
*/
html,body {
  height:100%;
  font-family: 'Open Sans', sans-serif;
}

body.no-sidebars {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  line-height: 20px;
  font-size: 90%;
}

body.not-logged-in {
  overflow: hidden;
}

body.page-node-1 {
  background: url('../images/homebg.jpg') 0 0 no-repeat/cover;
}

.layout-center {
  color: #000000;
  text-decoration: none;
}

.header {

}

.front .header {
  
}

main.layout-3col__full {
  padding: 0;
  margin: 0;
}

.layout-swap {
  padding: 0 !important;
  margin: 0 !important;
}

.fconnect a {
  width: 150px;
  height: 50px;
  display: block;
}

.imagefield-crop-widget img {
  max-width: none;
}

.imagefield-crop-preview {
  padding: 20px;
}

.header__logo {
  position: relative;
  z-index: 1;
  top: 20px;
  left: 60px;
}

.region-bottom {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.view-id-game_summary {
  width: 1280px;
  height: 100vh;
  margin: 0 auto;
}

.view-id-game_summary .view-header {
  width: 325px;
  float: left;
  background: #FFF;
  height: 100%;
}

.view-id-game_summary .view-content {
  width: 955px;
  float: left;
}

.view-id-game_summary .view-content h3 {
  width: 100%;
  margin: 50px 0 20px 50px;
  float: left;
}

.view-id-game_summary .views-row {
  float: left;
  width: 266px;
  height: 146px;
  margin: 0 15px 0 0;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
  padding: 15px;
}

.view-id-game_summary .views-row-first {
  margin: 0 15px 0 50px;
}

.page-trang-ca-nhan .layout-swap {
  position: absolute;
  top: 0;
  width: 100%;
}