html{
	overflow-x: hidden;
}

.node-type-page {
	background:url(../images/homebg.jpg) no-repeat center center fixed;
	background-size: cover;
}

.page-node-add-gaming {
	background:url(../images/background.png) no-repeat center center fixed;
	background-size: cover;
}

.node-type-page .layout-center {
	background:url(../images/homeslogan.png) no-repeat center 0 fixed;
	background-size: 1155px;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
}

.page-node-add-gaming .layout-center .layout-3col .layout-3col__full .node-form .step-choose-gender {
	background:url(../images/centergame.png) no-repeat center 0 fixed;
	background-size: 1155px;
	position: fixed;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.page-node-add-gaming .layout-center .layout-3col .layout-3col__full .female .step-fill-name,.page-node-add-gaming .layout-center .layout-3col .layout-3col__full .male .step-fill-name,.page-node-add-gaming .layout-center .layout-3col .layout-3col__full .male .step-up-picture,.page-node-add-gaming .layout-center .layout-3col .layout-3col__full .female .step-up-picture {
	background:url(../images/centeravatar.png) no-repeat center 0 fixed;
	background-size: 1155px;
	position: fixed;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.male .step-select-situation {
	background:url(../images/backgroundsituation.png) no-repeat center center fixed;
	background-size: cover;
	position: fixed;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.female .step-select-situation {
	background:url(../images/backgroundsituationgirl.png) no-repeat center center fixed;
	background-size: cover;
	position: fixed;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#block-block-1 .block-wrapper {
	background: #e02323;
	border-bottom: 1px solid #b11919;
	margin: 0 0 30px;
	height:46px;
	position:relative;
	top:-46px;
}

#block-block-1 ul {
	width:925px;
	margin:0 auto;
	list-style:none;
	height:46px;
}

#block-block-1 ul li {
	float:left;
}

#block-block-1 ul li a {
	display: block;
	text-align: center;
	height: 3.2em;
	width: auto;
	line-height: 3.2em;
	text-decoration: none;
	margin-left: -2px;
	font-weight: bold;
	border-right: 1px solid #b11919;
	text-transform: uppercase;
	color:white;
	font-size:14px;
	padding-right: 10px;
  padding-left: 10px;
}

#block-block-1 ul li:nth-child(5) a {
	border-right: none;
}

.wrap-img-arrowheader {
	width:100%;
	height:33px;
	position: absolute;
  top: 0;
}

.img-arrowheader {
	background:url(../images/arrowtop.png) no-repeat center center;
	width: 120px;
  height: 35px;
  margin: 0 auto;
}

.img-arrowheader:hover {
	cursor:pointer;
}

.front .field-name-body .field-items .field-item {
	margin:auto;
	width:408px;
	position:relative;
}

#text-bottom{
	text-transform: uppercase;
	position:absolute;
	top: 469px;
  font-weight: bold;
	font-size: 10px;
  color: white;
  width:100%;
	text-align:center;
}

.home-bnt {
	width:50%;
	height:50px;
}

.home-bnt a {
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	width:185px;
	border-radius:10px;
}

#story-now a {
	color: white;
	background-image:url(../images/buttonstory.png);
	background-repeat:no-repeat;
	background-size:185px 50px;
}

#story-now {
	position: absolute;
  top: 415px;
	right: -11px;
}

#play-now a {
	color: yellow;
	background-image:url(../images/buttonplay.png);
	background-repeat:no-repeat;
	background-size:185px 50px;
}

#play-now {
	position: absolute;
  top: 415px;
  left: 15px;
}

.field-name-field-material {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.8);
}

.front .field-name-field-material .field-items .field-item {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	top:170px;
	padding: 0;
	border: 3px solid lightgray;
	width: 600px;
	height:350px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: animatetop;
	animation-duration: 3s;
	border-radius:15px;
	text-align:center;
	padding-top:20px;
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:170px; opacity:1}
}

@keyframes animatearrowtop {
	from {top:0px}
	to {top:40px}
}

.page-node-add-gaming #edit-actions {
	text-align:center;
	margin-top: 309px;
}

.page-node-add-gaming #edit-next,#fresh-play,#hot-play {
	background-image:url(../images/buttonplay.png);
	background-repeat:no-repeat;
	background-size:185px 50px;
	width:185px;
	height:50px;
	border:none;
	background-color: transparent;
	color:yellow;
	font-size: 16px;
	text-transform: uppercase;
	font-weight:bold;
	z-index: 300;
  position: relative;
}

.page-node-add-gaming #edit-field-gender .form-item label {
	text-align:center;
	text-transform: uppercase;
	font-size:20px;
	margin-top: 115px;
}

.page-node-add-gaming #edit-field-gender-und .form-item {
	position: absolute;
  top: 170px;
}

.page-node-add-gaming #edit-field-gender-und .form-item:nth-child(2) {
	left:160px;
}

.page-node-add-gaming #edit-field-gender-und .form-item input[type=radio]{
	position: absolute;
	visibility: hidden;
	top: 30px;
  left: 9px;
}

.page-node-add-gaming #edit-field-gender-und {
	width: 190px;
  margin: 0 auto;
	position: relative;
}

.page-node-add-gaming #edit-field-gender-und label {
	cursor:pointer;
}

#check-radio {
	margin-top:0px !important;
	display: block;
	position: absolute;
	border: 5px solid #AAAAAA;
	border-radius: 100%;
	height: 35px;
	width: 35px;
	top: 30px;
	left: -3px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
	background-color:white;
}

.page-node-add-gaming #edit-field-gender-und .form-item:nth-child(2) #check-radio {
	left:3px;
}

#check-radio::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 15px;
	width: 15px;
	top: 5px;
	left: 5px;
	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

.page-node-add-gaming #edit-field-gender-und .form-item input[type=radio]:checked ~ #check-radio::before {
	background: yellow;
}

#button-back {
	width:47px;
	height:45px;
	position: absolute;
	top: 60px;
	left: 355px;
	background-image: url(../images/arrowback.png);
  background-repeat: no-repeat;
  background-size: 47px 45px;
	background-color:transparent;
	border:none;
}

#edit-field-gaming-image {
	width:100%;
}

#edit-field-gaming-image div:nth-child(1) {
	width: 700px;
  margin: auto;
  text-align: center;
	position:relative;
	height:110px;

}

.female #edit-field-gaming-image div:nth-child(1) .form-item input[type=file] {
	width: 54px;
	height: 54px;
	background-image: url(../images/addimage.png);
  background-repeat: no-repeat;
  background-size: 54px 54px;
	margin: 0 auto;
	top: 210px;
  left: 0px;
	position:relative;
	border: none;
	text-indent:2000px;
	z-index:3;
}

.male #edit-field-gaming-image div:nth-child(1) .form-item input[type=file] {
	width: 54px;
	height: 54px;
	background-image: url(../images/addimage.png);
  background-repeat: no-repeat;
  background-size: 54px 54px;
	margin: 0 auto;
	top: 250px;
  left: 2px;
	position:relative;
	border: none;
	text-indent:2000px;
	z-index:3;
}

#edit-field-gaming-image div:nth-child(1) .form-item .description {
  text-transform: uppercase;
	position: absolute;
	top: 100px;
	font-weight: bold;
	left: 23%;
}

#edit-field-gaming-image div:nth-child(1) .form-item label {
	text-transform: uppercase;
	position: relative;
	top: 415px;
	font-weight: bold;
}

#edit-field-gaming-image div:nth-child(1) .form-item input[type=submit] {
	display:none;
}

#edit-actions #edit-previous {
	display:none;
}

#edit-field-gaming-image div:nth-child(1) .form-item .file {
	display:none;
}

.page-node-add-gaming .layout-center .layout-3col .layout-3col__full .node-form .step-up-picture ~ #edit-actions #edit-next {
	display:none;
}

.actor {
	width: 600px;
  margin: 0 auto;
	margin-top: 105px;
	position:relative;
}

.actor .body {
	width:190px;
}

.step-fill-name ~ #edit-actions {
	margin-top:-42px;
}

.step-fill-name ~ #edit-field-name #field-name-add-more-wrapper {
	width: 616px;
  margin: 0 auto;
	position: relative;
}

.step-fill-name ~ #edit-field-name #field-name-add-more-wrapper .form-item {
	top: -360px;
	position:absolute;
	left: 190px;
	text-align:center;
}

.step-fill-name ~ #edit-field-name #field-name-add-more-wrapper .form-item label {
	text-transform: uppercase;
  color: red;
  font-size: 60px;
	margin-bottom: 15px;
}

.step-fill-name ~ #edit-field-name #field-name-add-more-wrapper .form-item input {
	background-color: transparent;
  border: none;
	border-bottom:3px dashed white;
	width: 355px;
	text-align:center;
	margin-bottom: 15px;
	text-transform: uppercase;
  color: red;
	font-weight: bold;
	font-size: 77px;
}

.step-fill-name ~ #edit-field-name #field-name-add-more-wrapper .form-item .description {
	text-transform: uppercase;
  font-weight: bold;
}

.jcrop-holder {
	right: -475px;
}

.male .step-up-picture ~ #edit-field-gaming-image .jcrop-preview-wrapper {
	margin-top: 198px !important;
	border-radius: 0 0 49px 47px;
}

.female .step-up-picture ~ #edit-field-gaming-image .jcrop-preview-wrapper {
	margin-top: 155px !important;
	border-radius: 0 25px 38px 9px;
}

.male .actor .face {
	position: absolute;
	top: 46px;
	left: 48px;
	width: 76px;
	height: 80px;
	border-radius: 0 0 110px 110px;
	z-index: -1;
}

.female .actor .face {
	position: absolute;
	top: 41px;
	left: 47px;
	width: 76px;
	height: 85px;
	border-radius: 0 0 110px 110px;
	z-index: -1;
}

.male #img-head {
	background-image: url(../images/boy.png);
	background-repeat: no-repeat;
	background-size: 130px 187px;
	width: 130px;
	height: 187px;
	position: absolute;
	left: 279px;
	top: 169px;
	z-index: 0;
}

.female #img-head {
	background-image: url(../images/girl.png);
	background-repeat: no-repeat;
	background-size: 130px 187px;
	width: 130px;
	height: 187px;
	position: absolute;
	left: 279px;
	top: 169px;
	z-index: 0;
}

.imagefield-crop-cropbox {
	margin-top: -42px;
}

.ajax-progress {
	position:relative;
}

.throbber {
	position:absolute;
	top:250px;
	left:49%;
}

.step-select-situation ~ #edit-actions #button-back {
	display:none;
}

.step-select-situation ~ #edit-actions #edit-next {
	display:none;
}

.step-select-situation ~ .situa {
	width:100%;
	height: 5px;
	text-align:center;
}

.step-select-situation ~ .situa .fresh {
	width: 500px;
  float: left;
	margin-top:215px;
}

.step-select-situation ~ .situa .hot {
	width: 675px;
	float: right;
	margin-top: 465px;
}

.step-select-situation ~ #edit-field-situation .form-item label, .step-select-situation ~ #edit-field-situation .form-item select {
	display:none;
}

.step-select-situation ~ #edit-field-situation {
	position: fixed;
	z-index: 301;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.8);
}

.step-select-case-1 {
	background:url(../images/centerselectone.png) no-repeat center 0 fixed;
	background-size: 1155px;
	position: fixed;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
}

.step-select-case-2 {
	background:url(../images/centerselecttwo.png) no-repeat center 0 fixed;
	background-size: 1155px;
	position: fixed;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
}

.step-select-case-3 {
	background:url(../images/centerselectthree.png) no-repeat center 0 fixed;
	background-size: 1155px;
	position: fixed;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
}

.step-select-case-1 ~ #edit-actions,.step-select-case-3 ~ #edit-actions {
	margin-top:-17px;
}

.step-select-case-1 ~ .intro,.step-select-case-2 ~ .intro,.step-select-case-3 ~ .intro {
	text-align:center;
	margin-top: 100px;
}

.step-select-case-1 ~ .intro .hello,.step-select-case-2 ~ .intro .hello,.step-select-case-3 ~ .intro .hello {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
}

.step-select-case-1 ~ .intro .hello .name,.step-select-case-2 ~ .intro .hello .name,.step-select-case-3 ~ .intro .hello .name {
	color:red;
}

.step-select-case-1 ~ .intro .desc,.step-select-case-2 ~ .intro .desc,.step-select-case-3 ~ .intro .desc {
	font-family: time-new-roman;
  font-size: 16px;
}

.step-select-case-1 ~ .form-item-field-case1 #edit-field-case1,.step-select-case-2 ~ .form-item-field-case2 #edit-field-case2,.step-select-case-3 ~ .form-item-field-case3 #edit-field-case3 {
	width:205px;
	margin:0 auto;
	margin-top: 45px;
}

.step-select-case-1 ~ .form-item-field-case1 label:nth-child(1),.step-select-case-1 ~ .form-item-field-case1 label:nth-child(1),.step-select-case-3 ~ .form-item-field-case3 label:nth-child(1) {
	font-size:20px;
}

#question-radio {
	display: block;
	position: relative;
	border-radius: 100%;
	height: 35px;
	width: 35px;
	top: -38px;
	left: -55px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
	background-image: url(../images/radioselectcustom.png);
	background-repeat: no-repeat;
	background-size:35px 35px;
	cursor:pointer;
}

.step-select-case-1 ~ .form-item-field-case1 #edit-field-case1 div:nth-child(3) #question-radio,.step-select-case-3 ~ .form-item-field-case3 #edit-field-case3 div:nth-child(3) #question-radio {
	top: -36px;
}

#question-radio::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 19px;
	width: 19px;
	top: 7px;
	left: 8px;
	margin: auto;
	transition: all 0.175s linear;
	-webkit-transition: all 0.175s linear;
	transform: scale(0);
}

.step-select-case-1 ~ .form-item-field-case1 #edit-field-case1 .form-item input[type=radio]:checked ~ #question-radio::before,.step-select-case-2 ~ .form-item-field-case2 #edit-field-case2 .form-item input[type=radio]:checked ~ #question-radio::before,.step-select-case-3 ~ .form-item-field-case3 #edit-field-case3 .form-item input[type=radio]:checked ~ #question-radio::before {
	background-image: url(../images/insideradio.png);
	background-repeat: no-repeat;
	background-size:19px 19px;
	transform: scale(1);
}

.step-select-case-1 ~ .form-item-field-case1 #edit-field-case1 .form-item input[type=radio],.step-select-case-2 ~ .form-item-field-case2 #edit-field-case2 .form-item input[type=radio],.step-select-case-3 ~ .form-item-field-case3 #edit-field-case3 .form-item input[type=radio] {
	position: absolute;
	visibility: hidden;
}

.step-select-case-1 ~ .form-item-field-case1 #edit-field-case1 .form-item .option,.step-select-case-2 ~ .form-item-field-case2 #edit-field-case2 .form-item .option,.step-select-case-3 ~ .form-item-field-case3 #edit-field-case3 .form-item .option {
	position: relative;
	left: 20px;
}

.step-select-case-1 ~ .form-item-field-case1 #edit-field-case1 div:nth-child(3) .option,.step-select-case-3 ~ .form-item-field-case3 #edit-field-case3 div:nth-child(3) .option {
	top: 6px;
}

.step-complete {
	background:url(../images/centercomplete.png) no-repeat center 0 fixed;
	background-size: 1155px;
	position: fixed;
	z-index: -1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
}

.step-complete ~ #edit-actions {
	margin-top:85px;
}

.step-complete ~ #edit-actions #edit-submit {
	width:244px;
	height:81px;
	background-image:url(../images/buttonsee.png);
	background-repeat:no-repeat;
	background-size:244px 81px;
	border:none;
	background-color: transparent;
}

.step-select-case-1 ~ .form-item-field-case1 #edit-field-case1 .form-item,.step-select-case-2 ~ .form-item-field-case2 #edit-field-case2 .form-item,.step-select-case-3 ~ .form-item-field-case3 #edit-field-case3 .form-item {
	position:relative;
}

.female .step-select-case-3 ~ .form-item-field-case3 #edit-field-case3 .form-item {
	top:21px;
}

.female .step-select-case-3 ~ #edit-actions {
	margin-top:26px;
}

.female #edit-field-case3-aaa ~ .option,.female #edit-field-case3-aba ~ .option {
	top: -10px;
}

#edit-field-case2-ba ~ .option {
	top:10px;
}

#edit-field-case2-bb ~ .option {
	top:14px;
}

#edit-field-case2-bc ~ .option {
	top:13px;
}

#edit-field-case2-ca ~ .option {
	top:-12px;
}

#edit-field-case2-cb ~ .option {
	top:-19px;
}

#edit-field-case2-cc ~ .option {
	top:-18px;
}

#edit-field-case2-bc ~ #question-radio {
	margin-bottom:42px !important;
}

.step-select-case-2 ~ #edit-actions {
	margin-top:-17px;
}

#edit-field-case2 #question-radio {
	top:-15px;
	margin-bottom: 20px;
}

#edit-field-case2-aa ~ #question-radio,#edit-field-case2-ab ~ #question-radio,#edit-field-case2-ac ~ #question-radio {
	top:-38px;
	margin-bottom:0px;
}

#edit-field-case2-ca ~ #question-radio,#edit-field-case2-cb ~ #question-radio {
	top:-57px;
	margin-bottom:0px;
}

#edit-field-case2-cc ~ #question-radio {
	top:-57px;
	margin-bottom:-37px;
}

.female #edit-field-case3-bba ~ .option,#edit-field-case3-bbb ~ .option {
	top:-20px;
}

.female #edit-field-case3-bbc ~ .option {
	top:-10px !important;
}

.female #edit-field-case3-bba ~ #question-radio,#edit-field-case3-bbb ~ #question-radio {
	top:-58px;
}

.female #edit-field-case3-bcc ~ #question-radio {
	top:-38px;
}

.female #edit-field-case3-bca ~ #question-radio,#edit-field-case3-bcb ~ #question-radio {
	margin-bottom:22px;
}

.female #edit-field-case3-bcb ~ .option {
	top:-11px;
}

.female #edit-field-case3-bcc ~ .option {
	top:-9px !important;
}

.female #edit-field-case3-cab ~ .option {
	top:8px;
}

.female #edit-field-case3-cac ~ .option,.female #edit-field-case3-cbc ~ .option {
	top:3px !important;
}

.female #edit-field-case3-cbb ~ #question-radio {
	top:-46px;
}

.female #edit-field-case3-ccb ~ #question-radio {
	top:-45px;
}

.female #edit-field-case3-ccc ~ #question-radio {
	top:-41px;
}

.male #edit-field-case3-aac ~ .option,.male #edit-field-case3-abc ~ .option,.male #edit-field-case3-acc ~ .option,.male #edit-field-case3-bbc ~ .option {
	top:2px !important;
}

.male #edit-field-case3-bac ~ .option {
	top:3px !important;
}

.male #edit-field-case3-bcb ~ #question-radio {
	top:-29px;
}

.male #edit-field-case3-bcc ~ #question-radio {
	top:-21px !important;
}

.male #edit-field-case1-c ~ .option {
	top:3px !important;
}

.male #edit-field-case3-cab ~ #question-radio,.male #edit-field-case3-cbb ~ #question-radio,.male #edit-field-case3-ccb ~ #question-radio {
	top:-47px;
}

.male #edit-field-case3-cac ~ #question-radio,.male #edit-field-case3-ccc ~ #question-radio {
	top:-42px !important;
}

.male #edit-field-case3-cbc ~ #question-radio {
	top:-31px !important;
}
