.node-type-page {
	background:url(../images/homebg.jpg) no-repeat center center fixed;
	background-size: cover;
}

.page-node-add-gaming {
	background:red;
}

.front .layout-center {
	background:url(../images/homeslogan.png) no-repeat center 0 fixed;
	background-size: 1155px;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#block-block-1 .block-wrapper {
	background: #e02323;
	border-bottom: 1px solid #b11919;
	margin: 0 0 30px;
	height:46px;
	position:relative;
	top:-46px;
}

#block-block-1 ul {
	width:1074px;
	margin:0 auto;
	list-style:none;
	height:46px;
}

#block-block-1 ul li {
	float:left;
}

#block-block-1 ul li a {
	display: block;
	text-align: center;
	height: 3.2em;
	width: auto;
	line-height: 3.2em;
	text-decoration: none;
	margin-left: -2px;
	font-weight: bold;
	border-right: 1px solid #b11919;
	text-transform: uppercase;
	color:white;
	font-size:14px;
	padding-right: 10px;
  padding-left: 10px;
}

#block-block-1 ul li:nth-child(5) a {
	border-right: none;
}

.wrap-img-arrowheader {
	width:100%;
	height:33px;
	position: absolute;
  top: 0;
}

.img-arrowheader {
	background:url(../images/arrowtop.png) no-repeat center center;
	width: 120px;
  height: 33px;
  margin: 0 auto;
}

.img-arrowheader:hover {
	animation-name: animatearrowtop;
	animation-duration: 1s;
}

.front .field-name-body .field-items .field-item {
	margin:auto;
	width:408px;
	position:relative;
}

#text-bottom{
	text-transform: uppercase;
	position:absolute;
	top: 469px;
  font-weight: bold;
	font-size: 10px;
  color: white;
  width:100%;
	text-align:center;
}

.home-bnt {
	width:50%;
	height:50px;
}

.home-bnt a {
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	width:185px;
	border-radius:10px;
}

#story-now a {
	color: white;
	background-image:url(../images/buttonstory.png);
	background-repeat:no-repeat;
	background-size:185px 50px;
}

#story-now {
	position: absolute;
  top: 415px;
	right: -11px;
}

#play-now a {
	color: yellow;
	background-image:url(../images/buttonplay.png);
	background-repeat:no-repeat;
	background-size:185px 50px;
}

#play-now {
	position: absolute;
  top: 415px;
  left: 15px;
}

.field-name-field-material {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.8);
}

.front .field-name-field-material .field-items .field-item {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	top:170px;
	padding: 0;
	border: 3px solid lightgray;
	width: 600px;
	height:350px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: animatetop;
	animation-duration: 3s;
	border-radius:15px;
	text-align:center;
	padding-top:20px;
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:170px; opacity:1}
}

@keyframes animatearrowtop {
	from {top:0px}
	to {top:40px}
}









